MYSQL_ADDRESS=sh-cynosdbmysql-grp-f5o7uj7a.sql.tencentcdb.com:29532
MYSQL_USERNAME=root
MYSQL_PASSWORD=replace-with-your-password
MYSQL_DATABASE=django_demo
ADMIN_PASSWORD=replace-with-admin-password
WECHAT_APPID=replace-with-wechat-appid
WECHAT_SECRET=replace-with-wechat-secret
MEDIA_ROOT=/data/media
